


<% if session[:user_id] %>
  <a href="/logout">Logout</a><br>

  <%if flash[:other_fish]%>
    <%fish_to_show = flash[:other_fish] %>
    <%id = fish_to_show[0]["user_id"] %>
  <%end%>

  <h3> List of Users</h3>
  <a href="/order/ascending">ASC</a>
  <a href="/order/descending">DESC</a>
  <hr />
  <% all_users.each do |user| %>
    <a href="/fish/<%= user["username"] %>"><%= user["username"] %></a><br>

      <% if id == user["id"] %>
        <ul>
          <%fish_to_show.each do |fish|%>
            <a href="<%=fish['url']%>">
              <li><%=fish["name"]%></li>
            </a>
          <%end%>
        </ul>
      <%end%>
  <% end %>
  <hr>
  <h3> Fish </h3>
  <a href="/add_fish">Add Fish</a><br>
  <% all_fish.each do |fish| %>
    <a href="<%= fish["url"] %>"><%= fish["name"] %></a><br>
  <% end %>



<% else %>
  <a href="/users/new">Register</a>
  <br>
  <h4>Login</h4>
  <form method="POST" action="/login">
    <label for="username">Username:</label><br>
    <input id="username" name="username"><br><br>
    <label for="password">Password:</label><br>
    <input id="password" name="password"><br><br>
    <button>Submit</button>
  </form>

<% end %>